@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

a{
    text-decoration: none;
}

body {
    line-height: 1;
    background-color: #F1F2F2;
    height: 100%;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --main-bg-color: #F1F2F2;
    --secindary-color: #0b4678;
    --primary-hover-color: #2E58A2;
    --primary-default-color: #153B86;
    --heading-color: #0a2b4b;
    --light-gray-color: #838383;
    --body-text-color: #393B3E;
    --main-font-family: 'Merriweather', normal, normal;
    --arial-font-family: 'Arial', normal, normal;
    --source-sans-family: 'Source Sans Pro', normal;
    --standart-font-weight: 400;
}

.container{
    max-width: 1366px !important;
}

html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
main {
    flex: 1 0 auto;
}
footer {
    flex: 0 0 auto;
}


/* HEADER */

.banner{
    background-image: url("../images/backgrounds/banner-background.png");
}

.banner__row{
    height: 40px;
}

.banner .minfin-address p{
    font-family: var(--source-sans-family);
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    display: flex;
    align-items: center;
    letter-spacing: 0.8px;
}

.banner .localization-languages a{
    font-family: var(--main-font-family);
    font-weight: var(--standart-font-weight);
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #393B3E;
    text-decoration: none;
    transition: .3s;
}

.banner .localization-languages a:hover{
    color: var(--heading-color);
}

.banner .localization-languages a.active{
    color: var(--heading-color);
    font-weight: 900;
}

.brand{
    background-color: var(--secindary-color);
}

.brand.fix{
    padding-bottom: clamp(2.4375rem, 1.1532190635451505rem + 2.6755852842809364vw, 3.4375rem);
}

.brand__row{
    height: clamp(4.25rem, 1.2801003344481607rem + 6.187290969899665vw, 6.5625rem);
    background-color: var(--secindary-color);
}

.brand .brand-name{
    font-family: var(--main-font-family);
    font-weight: var(--standart-font-weight);
    font-size: clamp(1.375rem, 0.8933946488294314rem + 1.0033444816053512vw, 1.75rem);
    line-height: clamp(1.75rem, 1.1078595317725752rem + 1.3377926421404682vw, 2.25rem);
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: white;
}

.brand .brand-logo{
    height: clamp(3rem, 0.030100334448160737rem + 6.187290969899665vw, 5.3125rem);;
}

/* NAVIGATION */

nav .mobile-menu{
    display: none;
}

nav{
    background-color: var(--heading-color);
}

nav.fix{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
}

.MenuToggleButton span, .MenuToggleButton{
    display: none !important;
}

#dl-menu{
    display: none;
}

nav .desktop-menu{
    display: block;
}

.navigation{
    height: clamp(2.5rem, 0.9749163879598663rem + 3.177257525083612vw, 3.6875rem);
    position: relative;
}

.navigation .nav__items .nav__item{
    margin-right: clamp(2.5rem, 1.2157190635451505rem + 2.6755852842809364vw, 3.5rem);
}

.navigation .nav__items .nav__item:last-child{
    margin-right: 0;
}

.navigation .nav__items .nav__item > a{
    text-decoration: none;
    white-space: nowrap;
    font-family: var(--source-sans-family);
    font-weight: var(--standart-font-weight);
    font-size: clamp(0.875rem, 0.7144648829431438rem + 0.33444816053511706vw, 1rem);
    line-height: clamp(1rem, 0.03678929765886285rem + 2.0066889632107023vw, 1.75rem);
    letter-spacing: clamp(0rem, -0.0802675585284281rem + 0.16722408026755853vw, 0.0625rem);
    color: #FFFFFF;
    transition: .3s;
}

.navigation .nav__items .nav__item a:hover{
    color: var(--secindary-color);
}

.navigation .nav__items .nav__item a .search-icon{
    width: clamp(0.75rem, 0.4289297658862876rem + 0.6688963210702341vw, 1rem);
    transition: .3s;
}
.navigation .nav__items .sub_nav__item a{
    color: var(--secindary-color);
}
.navigation ul > li {
    display: block;
}
.navigation .dropdownContain {
    position: absolute;
    z-index: 3;
    top: -1000px;
    left: -12px;
}
.navigation .dropOut,
.navigation .searchDropOut{
    width: clamp(48rem, 0rem + 100vw, 85.375rem);
    height: clamp(15.25rem, 9.955378250591018rem + 8.983451536643026vw, 18.625rem);
    padding: 16px 16px 32px;
    background: rgba(232, 232, 232, 0.93);
    float: left;
    position: relative;
    opacity: 0;
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
}
.navigation .dropOut ul {
    float: left;
    padding: 10px 0;
    display: grid;
}

.navigation .dropOut ul li {
    text-align: left;
    float: left;
    margin: 4px 3px 4px 0;
    width: 100%;
}

.navigation .dropOut ul li a{
    font-family: var(--source-sans-family);
    font-size: clamp(0.75rem, -0.3728070175438596rem + 1.7543859649122806vw, 1.125rem);
    line-height: clamp(0.5rem, -0.9223621103117503rem + 2.398081534772182vw, 1.125rem);
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--heading-color);
    padding-bottom: 4px !important;
    text-transform: uppercase;
    position: relative;
}

.navigation .dropOut ul li:after {
    bottom: 0;
    content: "";
    display: block;
    height: 1px !important;
    left: 50%;
    background: var(--heading-color);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.navigation .dropOut ul li:hover:after {
    width: 95%;
    left: 0;
}

.navigation  .dropOut ul li:hover > a {
    color: var(--secindary-color);
}

.navigation .dropOut ul li a:hover::after,
.navigation .dropOut ul li a:focus::after{

}

.navigation ul li:hover .dropdownContain {
    top: clamp(2.375rem, 2.134197324414716rem + 0.5016722408026756vw, 2.5625rem);
}
.navigation ul li:hover .underline { border-bottom-color: #777; }
.navigation ul li:hover .dropOut,
.navigation ul li:hover .searchDropOut{
    opacity: 1;
    margin-top: clamp(0.125rem, -1.1592809364548495rem + 2.6755852842809364vw, 1.125rem);
}

.navigation .searchDropOut{
    padding: 0;
}

.navigation .searchDropOut .searchDropRow form{
    background-color: #F1F2F2;
    padding: 16px 0;
    display: flex;
    justify-content: center;
}

.navigation .searchDropOut .searchDropRow .form-group{
    border: 0.3px solid #a4a4a4;
    width: clamp(19.4375rem, -8.014005016722408rem + 57.19063545150501vw, 40.8125rem);
    height: clamp(1.5625rem, 0.3584866220735785rem + 2.508361204013378vw, 2.5rem);
    border-radius: 4px;
}

.navigation .searchDropOut .searchDropRow input{
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.navigation .searchDropOut .searchDropRow button{
    color: white;
    outline: none;
    border: none;
    font-family: 'Arial', normal, sans-serif;
    font-size: clamp(0.75rem, 0.5894648829431438rem + 0.33444816053511706vw, 0.875rem);
    background: #1068B1;
    padding: 10px 19px;
    border-radius: 0;
    line-height: clamp(0.5625rem, 0.16116220735785958rem + 0.8361204013377926vw, 0.875rem);
    transition: .3s;
}

.navigation .searchDropOut .searchDropRow button:hover{
    background: #0a4b80;
}

.navigation .searchDropOut .header-text{
    font-family: var(--source-sans-family);
    font-weight: 600;
    font-size: 14px;
    line-height: clamp(0.5rem, -0.9223621103117503rem + 2.398081534772182vw, 1.125rem);
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 12px;
    border: 0;
    padding-left: 0;
}

.navigation .searchDropOut div:nth-child(2) .items li{
    margin-bottom: 8px;
}

.navigation .searchDropOut div:nth-child(2) .items li a{
    text-decoration: none;
    font-family: var(--source-sans-family);
    font-weight: var(--standart-font-weight);
    font-size: 14px;
    line-height: clamp(0.5rem, -0.9223621103117503rem + 2.398081534772182vw, 1.125rem);
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 12px;
    transition: .3s;
}

.navigation .searchDropOut div:nth-child(2) .items li > a:hover{
    color: var(--primary-hover-color);
}

.navigation  .dropOut .sub_nav__items li .second_sub_nav__items{
    display: none;
    position: absolute;
}

.navigation  .dropOut .firstChild.sub_nav__items {
    left:  clamp(13.375rem, -0.70638489208633rem + 23.741007194244602vw, 19.5625rem);
    width: 280px;
    word-break: break-word;
}

.navigation  .dropOut .sub_nav__items li.active .second_sub_nav__items,
.navigation  .dropOut .second_sub_nav__items li.active .third_sub_nav__items,
.navigation  .dropOut .third_sub_nav__items li.active .fourth_sub_nav__items{
    left:  clamp(13.375rem, -0.70638489208633rem + 23.741007194244602vw, 19.5625rem);
    width: 290px;
}

.navigation  .dropOut .sub_nav__items li.active .second_sub_nav__items{
    display: block;
    top: 6px;
}

.navigation  .dropOut .second_sub_nav__items li .third_sub_nav__items{
    display: none;
    position: absolute;
    top: 6px;
}

.navigation  .dropOut .second_sub_nav__items li.active .third_sub_nav__items{
    display: block;
    top: 0;
}

.navigation  .dropOut .third_sub_nav__items li .fourth_sub_nav__items{
    display: none;
    position: absolute;
    top: 0;
}

.navigation  .dropOut .third_sub_nav__items li.active .fourth_sub_nav__items{
    display: block;
    top: 0;
}

.navigation .menu-arrow:before {
    padding: 0 10px;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='10' viewBox='0 0 5 10' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.104897 0.112982C0.138064 0.0771683 0.177465 0.0487541 0.220844 0.0293668C0.264222 0.00997949 0.310725 0 0.35769 0C0.404654 0 0.451158 0.00997949 0.494536 0.0293668C0.537914 0.0487541 0.577315 0.0771683 0.610482 0.112982L4.8951 4.72783C4.92835 4.76355 4.95473 4.80599 4.97273 4.85271C4.99073 4.89943 5 4.94952 5 5.0001C5 5.05069 4.99073 5.10077 4.97273 5.14749C4.95473 5.19422 4.92835 5.23665 4.8951 5.27238L0.610482 9.88722C0.543438 9.95943 0.452505 10 0.35769 10C0.262874 10 0.171942 9.95943 0.104897 9.88722C0.0378524 9.81501 0.000186941 9.71707 0.000186941 9.61494C0.000186941 9.51282 0.0378524 9.41488 0.104897 9.34267L4.13744 5.0001L0.104897 0.657534C0.0716462 0.62181 0.0452651 0.579373 0.0272651 0.532651C0.00926505 0.485929 0 0.435842 0 0.385258C0 0.334673 0.00926505 0.284586 0.0272651 0.237865C0.0452651 0.191143 0.0716462 0.148705 0.104897 0.112982Z' fill='%23083C6F'/%3E%3C/svg%3E");;
}

/* MAIN */

/* MAIN Carousel / Section 1 */

@keyframes zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

#carouseIndicators{
    height: clamp(20.625rem, 8.584866220735787rem + 25.08361204013378vw, 30rem);
    overflow: hidden;
}

#main-carousel .carousel-inner{
    height: clamp(20.625rem, 8.584866220735787rem + 25.08361204013378vw, 30rem);
}

#main-carousel .carousel-fade .carousel-item {
    height: 100%;
}

#main-carousel .carousel-fade .carousel-item > img{
    position: absolute;
    height: 100%;
    object-fit: cover;
}

#main-carousel .carousel-fade .carousel-item.active > img {
    -webkit-animation: zoom 1s forwards;
    animation: zoom 8s forwards;
}

#main-carousel .new__image_overflow{
    position: absolute;
    z-index: 2;
    background: linear-gradient(90deg, rgba(29,29,29,0.9528186274509804) 13%, rgba(40,40,40,0.8183648459383753) 39%, rgba(62,62,62,0.3841911764705882) 67%, rgba(0,212,255,0) 100%);
    height: 100%;
    width: 100%;
    left: 0;
}

#main-carousel .carousel-caption{
    z-index: 3;
    top: 25%;
    width: clamp(31.875rem, 16.222826086956523rem + 32.608695652173914vw, 44.0625rem);
    left: 12%;
}

#main-carousel .carousel-caption a{
    position: absolute;
    left: 0;
    font-family: var(--main-font-family);
    font-size: clamp(2.1875rem, 1.1440217391304348rem + 2.1739130434782608vw, 3rem);
    line-height: clamp(2.75rem, 1.4657190635451505rem + 2.6755852842809364vw, 3.75rem);
    display: flex;
    align-items: center;
    letter-spacing: 0.8px;
    color: #FFFFFF;
    text-align: left;
}

#main-carousel .carousel-control-next, .carousel-control-prev{
    width: 10%;
}

/* Second carousel / Section 2 */

#secondary-carousel{
    /*height: clamp(7.25rem, 0.7483277591973252rem + 13.54515050167224vw, 12.3125rem);*/
    background-color: white;
    overflow-y: hidden;
}

#secondary-carousel .owl-carousel{
    position: relative;
}

.owl-carousel .owl-stage{display: flex;}

#secondary-carousel .owl-carousel .item{
    width: clamp(9.375rem, 5.8274470232088795rem + 15.136226034308779vw, 18.75rem);
    justify-content: center;
    display: flex;
    align-items: flex-start;
    height: 100%;
    padding: clamp(0.5rem, -0.46321070234113715rem + 2.0066889632107023vw, 1.25rem) 20px 10px;
}

#secondary-carousel .owl-carousel .item img{
    height: clamp(3.6875rem, 2.0018812709030103rem + 3.511705685618729vw, 5rem);
}

#secondary-carousel .owl-carousel .item p{
    font-family: var(--source-sans-family);
    font-weight: var(--standart-font-weight);
    font-size: clamp(0.75rem, -0.052675585284280846rem + 1.6722408026755853vw, 1.375rem);
    line-height: clamp(0.9375rem, -0.10597826086956519rem + 2.1739130434782608vw, 1.75rem);
    text-align: center;
    color: #083C6F;
    word-break: break-word;
}

#secondary-carousel .owl-carousel .owl-nav{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: clamp(4.6875rem, 2.6808110367892977rem + 4.1806020066889635vw, 6.25rem);
    z-index: 2;
}

.owl-carousel .owl-stage-outer{
    z-index: 2 !important;
}

#secondary-carousel .owl-nav .owl-prev,
#secondary-carousel .owl-nav .owl-next{
    background-color: rgba(255, 255, 255, 0);
    transition: .3s;
    position: absolute;
}

#secondary-carousel .owl-nav .owl-prev {
    left: -15px;
}

#secondary-carousel .owl-nav .owl-next {
    right: -15px;
}

#secondary-carousel .owl-nav .owl-prev:hover,
#secondary-carousel .owl-nav .owl-next:hover{
    background-color: #eeeeee;
}

#secondary-carousel .owl-height{
    height: 106px !important;
}

/* News section / Section 3 */

#news-section .new_block{
    background-color: white;
    /*border-radius: clamp(0.141509375rem, -0.31889330058528426rem + 0.9591722408026755vw, 0.5rem);*/
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.04);
}

#news-section .main-new__block .new_block{
    height: clamp(17.125rem, 7.252090301003344rem + 20.5685618729097vw, 24.8125rem);
}

.main-new__mobile_block{
    display: none;
}

.main-new__block .new_block__image{
    object-fit: cover;
    height: 100%;
    width: clamp(10.875rem, 0.2796822742474916rem + 22.073578595317723vw, 19.125rem);
    border-radius: clamp(0.141509375rem, -0.31889330058528426rem + 0.9591722408026755vw, 0.5rem) 0
    0 clamp(0.141509375rem, -0.31889330058528426rem + 0.9591722408026755vw, 0.5rem);
}

.main-new__block .new__image_overflow{
    position: absolute;
    z-index: 2;
    background: linear-gradient(2deg, rgba(8, 60, 111, 0) 0%, #083C6F 100%);
    height: 100%;
    width: clamp(10.875rem, 0.2796822742474916rem + 22.073578595317723vw, 19.125rem);
    left: 0;
    border-radius: clamp(0.141509375rem, -0.31889330058528426rem + 0.9591722408026755vw, 0.5rem) 0
    0 clamp(0.141509375rem, -0.31889330058528426rem + 0.9591722408026755vw, 0.5rem);
}

.main-new__block .new_block__title{
    font-family: var(--source-sans-family);
    font-weight: var(--standart-font-weight);
    font-size: clamp(0.75rem, 0.10785953177257523rem + 1.3377926421404682vw, 1.25rem);;
    line-height: clamp(0.9375rem, 0.13482441471571915rem + 1.6722408026755853vw, 1.5625rem);;
    color: #FFFFFF;
    position: absolute;
    z-index: 3;
    top: clamp(2.0625rem, 0.6979515050167224rem + 2.842809364548495vw, 3.125rem);
    left: clamp(0.5625rem, -0.3204431438127089rem + 1.8394648829431437vw, 1.25rem);
}

#news-section .new_block__date,
#news-section .new_block__category,
#news-section .new_block__read_more{
    font-family: var(--source-sans-family);
    font-size: clamp(0.5rem, 0.018394648829431426rem + 1.0033444816053512vw, 0.875rem);
    line-height: clamp(0.625rem, 0.14339464882943143rem + 1.0033444816053512vw, 1rem);
    color: #838383;
}

#news-section .new_block__description, .new_block__title{
    font-family: var(--source-sans-family);
    font-size: clamp(0.8125rem, 0.5716973244147157rem + 0.5016722408026756vw, 1rem);
    line-height: clamp(0.8125rem, 0.2506270903010034rem + 1.1705685618729096vw, 1.25rem);
    color: #393B3E;
}

#news-section .main-new__block .new_block__category{
    text-transform: capitalize;
    color: #0053A3;
    position: absolute;
    bottom: 16px;
}

#news-section .new_block__read_more{
    font-family: var(--source-sans-family);
    font-size: clamp(0.8125rem, 0.6519648829431438rem + 0.33444816053511706vw, 0.9375rem);
    line-height: clamp(0.625rem, 0.14339464882943143rem + 1.0033444816053512vw, 1rem);
    text-decoration-line: underline;
    color: #0053A3;
}

#third-post-subsection .new_block__read_more
{
    font-family: var(--source-sans-family);
    font-size:clamp(0.8125rem, 0.4914297658862876rem + 0.6688963210702341vw, 1.0625rem);
    line-height: clamp(0.625rem, 0.14339464882943143rem + 1.0033444816053512vw, 1rem);
    text-decoration-line: underline;
    color: #0053A3;
}

.news_block .new_block .new_block__image{
    object-fit: cover;
    height: clamp(5.25rem, 2.3603678929765888rem + 6.0200668896321075vw, 7.5rem);
    width: clamp(4.25rem, 0.07608695652173925rem + 8.695652173913043vw, 7.5rem);
    /*width: clamp(3.125rem, -0.005434782608695343rem + 6.521739130434782vw, 5.5625rem);*/
    /*height: clamp(3.125rem, -0.005434782608695343rem + 6.521739130434782vw, 5.5625rem);*/
    border-radius: 5px 0 0 5px;
}

.news_block .new_block{
    /*padding: clamp(0.5625rem, 0.06484113712374584rem + 1.0367892976588629vw, 0.95rem);*/
}

.new_text-information{
    padding: 0 clamp(0.5625rem, 0.06484113712374584rem + 1.0367892976588629vw, 0.95rem);
}

.news_block .new_block a{
    color: #393B3E;
    text-decoration: none;
}

#news-section .news_block .new_block__category{
    text-transform: capitalize;
    color: #0053A3;
    position: absolute;
    bottom: 10px;
}

/* Economic section / Section 4 */

.header-text{
    font-family: 'Arial', normal, sans-serif;
    font-size: clamp(1.5625rem, 1.2313950554994955rem + 1.4127144298688195vw, 2.4375rem);
    line-height: clamp(2rem, 1.3578595317725752rem + 1.3377926421404682vw, 2.5rem);
    font-weight: 600;
    letter-spacing: 0.8px;
    color: var(--heading-color);
    border-left: 11px solid;
    padding-left: 10px;
}

#economic-map .map{
    user-select: none;
    z-index: 2;
    text-align: center;
}

#economic-map .kyrgyz-republic-map{
    height: clamp(17.8125rem, 2.4011287625418056rem + 32.10702341137124vw, 29.8125rem);
    position: relative;
}

#economic-map .kyrgyz-republic-map svg{
    position: absolute;
    width: 100%;
    height: 100%;
}

.map svg{
    position: relative;
    left: 0;
}

.map path{
    fill: #153B86;
    cursor: pointer;
    transition: 0.6s;
}

.map path:hover{
    fill: #145e9c;
}

#floatingmes {
    font-family: var(--source-sans-family);
    position:absolute;
    z-index:999;
    top:0;
    left:0;
    width: 136px;
    background: rgb(10, 75, 128);
    padding: 4px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    justify-content: center;
    font-size: 18px;
    color: white;
    display: flex;
}

.apexcharts-legend{
    width: clamp(5.9375rem, -1.286580267558529rem + 15.050167224080269vw, 11.5625rem) !important;
}

.economic-statistic__card{
    background: #FFFFFF;
    border-radius: 5px;
}

.back-to-btn{
    background: #153B86;
    border: 0.5px solid #000000;
    border-radius: 5px;
    font-family: var(--source-sans-family);
    font-weight: 600;
    font-size: 17px;
    line-height: 150.6%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    width: 100px;
}

.economic-statistic__card .card-header-text{
    font-family: var(--arial-font-family);
    font-weight: 700;
    font-size: clamp(0.75rem, 0.10785953177257523rem + 1.3377926421404682vw, 1.25rem);
    line-height: clamp(0.875rem, 0.1525919732441472rem + 1.5050167224080269vw, 1.4375rem);
    letter-spacing: 0.8px;
    color: var(--heading-color);
}

.economic-statistic__card .card-title{
    font-family:  var(--arial-font-family);
    font-size: clamp(0.8125rem, 0.9346374045801527rem + -0.2544529262086514vw, 0.875rem);
    line-height: 9px;
    display: flex;
    align-items: center;
    letter-spacing: 0.446154px;
    color: #083C6F;
}

.apex-chart-info-text{
    font-family: var(--arial-font-family);
    font-size: clamp(0.6875rem, 0.2861622073578596rem + 0.8361204013377926vw, 1rem);
    line-height: clamp(0.6875rem, -0.11517558528428085rem + 1.6722408026755853vw, 1.3125rem);;
    color: #9FA5AD;
    white-space: nowrap;
    position: sticky;
}

.apexcharts-legend::-webkit-scrollbar{
    height: 5px;
}

.apexcharts-legend::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(243, 243, 243, 0.75);
}

.apexcharts-legend::-webkit-scrollbar-thumb {
    background-color: #efebeb !important;
}

/* Bottom White Blocks */

.white_block_links{
    background-color:white;
    font-family: var(--source-sans-family);
    font-size: clamp(1rem, 0.8394648829431438rem + 0.33444816053511706vw, 1.125rem);
    line-height: 23px;
    text-decoration: none;
    color: #083C6F;
    align-items: center;
    border-radius: 5px;
    padding: 10px 0;
    transition: .3s;
    word-break: break-word;
}

.white_block_links img{
    width: clamp(3.125rem, 2.6433946488294313rem + 1.0033444816053512vw, 3.5rem);
    height: clamp(3.125rem, 2.6433946488294313rem + 1.0033444816053512vw, 3.5rem);
    object-fit: cover;
}

footer{
    background-color:#1068B1 ;
}

.footer_container{
    height:clamp(5rem, -0.2976588628762542rem + 11.036789297658862vw, 9.125rem);
}

.footer_container a{
    font-family: var(--main-font-family);
    font-size: clamp(0.5rem, 0.018394648829431426rem + 1.0033444816053512vw, 0.875rem);
    line-height:clamp(0.625rem, -0.017140468227424766rem + 1.3377926421404682vw, 1.125rem);
    text-align: center;
    color: #FFFFFF;
    display: block;
}

.footer_info{
    /*height:clamp(1.875rem, -0.21195652173913038rem + 4.3478260869565215vw, 3.5rem);*/
    background-color:#083C6F ;
}

.footer_info p{
    font-family: var(--source-sans-family);
    font-size: clamp(0.5625rem, 0.39694752774974773rem + 0.7063572149344097vw, 1rem);
    color: #FFFFFF;
}

.footer_container div:nth-child(1) img{
    width:clamp(6.8125rem, -0.491847826086957rem + 15.217391304347828vw, 12.5rem);
}

.footer_container div:nth-child(2) img{
    width:clamp(5.375rem, -0.3239966555183944rem + 11.872909698996656vw, 9.8125rem);
}

.footer_container div:nth-child(3) img{
    width:clamp(2.125rem, -0.12249163879598646rem + 4.682274247491638vw, 3.875rem);
}


/* BREADCRUMBS */

.breadcrumb_items a, .breadcrumb_items p{
    text-decoration: none;
    color: var(--heading-color);
    font-weight: 300;
    font-family: var(--source-sans-family);
    font-size: 14px;
}

.breadcrumb_items.active p{
    color: #393B3E;
}

/* CONTACT PAGE */

#head-information .content-header-text{
    text-decoration: none;
    color: var(--heading-color);
    font-family: var(--source-sans-family);
    font-size: clamp(1.8125rem, 1.5996468213925328rem + 0.9081735620585267vw, 2.375rem);

}

#head-information .content-header-icon{
    width: clamp(2.125rem, 1.6046922300706357rem + 2.219979818365288vw, 3.5rem);
}

#content .contact-data{
    border: 0.5px solid #083C6F;
    border-radius: 6px;
}

#content .contact-data_items li{
    margin-bottom: 6px;
    font-family: var(--source-sans-family);
    font-size: 12px;
    line-height: 15px;
    color: #393B3E;
}

#content .contact-data_items li p{
    color: #393B3E;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}

#content .contact-data_items li{
    margin-bottom: 6px;
}

#content .google-map-address{
    width: 100%;
    height: 60vh;
}

#content p.social-media{
    color: var(--heading-color);
    font-family: var(--source-sans-family);
    font-size: 32px;
}

#content .social-media img{
    width: clamp(2rem, 1.6215943491422804rem + 1.6145307769929365vw, 3rem);
}

#content .social-media li{
    margin-right: 4px;
}

@media screen and (max-width: 942px){
    nav .mobile-menu{
        display: block;
    }

    .desktop-menu{
        display: none !important;
    }

    .MenuToggleButton span, .MenuToggleButton{
        display: block !important;
    }

    .hc-nav-trigger{
        top: clamp(3.5rem, 1.3461538461538463rem + 4.487179487179487vw, 3.9375rem);
        z-index: 9980;
        width: 30px;
        min-height: 36px;
    }

    .brand.fix{
        z-index: 4;
        height: 68px;
        position: fixed;
        width: 100%;
        top: 0;
    }

    .theme-default.hc-nav-open .brand{
        z-index: 4;
        height: 68px;
        position: fixed;
        width: 100%;
        top: 0;
    }

    .brand.fix .hc-nav-trigger{
        top: 23px;
        z-index: 9980;
        width: 30px;
        min-height: 30px;
    }

    .banner__row.fix{
        margin-bottom: 50px;
    }
}

/* Post View Styles */

#post-page .main-post-header{
    font-family: var(--source-sans-family);
    font-weight: 600;
    font-size: clamp(1.375rem, 1.0539297658862876rem + 0.6688963210702341vw, 1.625rem);
    line-height: 150.6%;
    color: #393B3E;
}

#post-page .back-to-list-btn{
    font-family: var(--source-sans-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #083C6F;
}

#post-page .content-tab-row .nav-tabs{
    border-bottom: 0;
}

#post-page .content-tab-row .nav-tabs .nav-item .nav-link,
#post-page .content-tab-row .nav-tabs .nav-item .nav-link.active{
    background: rgba(10, 83, 190, 0);
    border: 0;
}

#post-page .content-tab-row .nav-tabs .nav-item .nav-link{
    font-family: var(--source-sans-family);
    font-weight: 600;
    font-size: clamp(1.125rem, 0.8039297658862876rem + 0.6688963210702341vw, 1.375rem);
    line-height: 28px;
    color: #393B3E;
    padding: 0 22px 0 0;
}

#post-page .content-tab-row .nav-tabs .nav-item .nav-link.active{
    text-decoration-line: underline;
    color: #0053A3;
}

#post-page .post-created-date{
    font-family: var(--source-sans-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #393B3E;
}

#post-page .post-title{
    font-family: var(--source-sans-family);
    font-weight: 600;
    font-size: clamp(1.125rem, 0.8039297658862876rem + 0.6688963210702341vw, 1.375rem);
    line-height: 150.6%;
    color: #393B3E;
}


#post-page .post-preview-image{
    object-fit: cover;
    height: clamp(20.75rem, -0.761705685618729rem + 44.81605351170568vw, 37.5rem);
    width: 100%;
    border-radius: 3px;
}

#post-page .document-text{
    font-family: var(--source-sans-family);
    font-size: clamp(1rem, 0.5183946488294314rem + 1.0033444816053512vw, 1.375rem);
    line-height: 28px;
    color: #393B3E;
}

#post-page .post-content p{
    margin-bottom: 1rem !important;
    color: #3d3d3d;
}

#post-page .post_information{
    border: 0.5px solid #083C6F;
    border-radius: 5px;
    width: 100%;
    position: inherit;
}

#post-page .post_information.fix{
    position: sticky;
    top: 79px;
}

#post-page .post_information .header-info-text{
    font-family: var(--source-sans-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #393B3E;
}

#post-page .post_document_name {
    font-family: var(--source-sans-family);
    font-weight: 600;
    font-size: clamp(0.9375rem, 0.6966973244147157rem + 0.5016722408026756vw, 1.125rem);
    line-height: 150.6%;
    color: #393B3E;
    border-left: 2px solid #393B3E;
    padding-left: 10px;
}

#post-page .info-blue-text{
    font-family: var(--source-sans-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #0053A3;
}

#post-page .document-size{
    line-height: 150.6%;
    border-left: 2px solid #393B3E;
    padding-left: 16px;
}

#post-page .post_document__download-link {
    font-family: var(--source-sans-family);
    font-weight: 600;
    font-size: 18px;
    background: #083C6F;
    border-radius: 15px;
    color: white;
    padding: clamp(0.4375rem, 0.1966973244147157rem + 0.5016722408026756vw, 0.625rem) clamp(1.5625rem, -0.20338628762541777rem + 3.6789297658862874vw, 2.9375rem);;
    transition: .3s;
    border: 0.5px solid #000000;
}

#post-page .post_document__download-link:hover {
    background: #0b4986;
}

.border-seperator{
    border-left: 2px solid black;
}

#post-page .document-image{
    height: 51px;
    width: 40px;
}

#post-page .post_document__download-btn:hover {
    background: #0e579c;
    color: white;
}

.white-link-block-icon{
    font-size: 54px;
}

#pages .page_show__header{
    word-break: break-word;
    font-family: var(--source-sans-family);
    font-size: clamp(1.75rem, 1.1881270903010033rem + 1.1705685618729096vw, 2.1875rem);
    line-height: clamp(2rem, 1.3578595317725752rem + 1.3377926421404682vw, 2.5rem);
    letter-spacing: 0.8px;
    color: var(--heading-color);
}

#pages .page_description__row p{
    font-family: var(--source-sans-family);
    font-size: 18px;
    line-height: 25px;
    color: #393B3E;
    padding-left: 70px;
}

#pages .page_title__row img{
    width: 50px;
}

#pages .page_accordion__row img{
    width: 50px;
}

#pages .accordion-item{
    background-color: rgba(0, 0, 0, 0);
    border: none
}

#pages .accordion-button{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 0;
    z-index: 2 !important;
}

#pages .page_title__row .mdi{
    color: var(--heading-color);
}

#pages .new_card__block{
    width: 363px;
    height: 440px;
    background: #FFFFFF;
    border-radius: 5px;
}

#pages .post_date{
    font-family: var(--source-sans-family);
    font-size: 12px;
    line-height: 144.6%;
    color: #838383;
}

#pages .new_card__block .post_title{
    font-family: var(--source-sans-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #083C6F;
}

#pages .new_card__block .post_description{
    font-family: var(--source-sans-family) ;
    font-size: 16px;
    line-height: 150.6%;
    color: #25313C;
}

#pages .new_card__block .card-body{
    padding: .3rem 2rem 1rem;
}

.card-img, .card-img-bottom, .card-img-top {
    width: 100%;
    height: 147px;
    object-fit: cover;
}

.card-img, .card-img-top{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.show-post-block{
    background: #fbfbfb;
    padding: 20px;
    overflow: hidden;
    border-radius: 5px;
}

/* SUBSECTIONS NEWS */

#second-post-subsections .main_new .main_new__block{
    height: 402px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

#second-post-subsections .main_new .new__image_overflow{
    position: absolute;
    z-index: 2;
    background: rgba(0, 0, 0, 0.29);
    height: 100%;
    width: 100%;
    left: 0;
}

#second-post-subsections .main_new .main_new__block .main_new__image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .8s;
}

#second-post-subsections .main_new .main_new__block:hover .main_new__image{
    transform: scale(1.1);
}

#second-post-subsections .main_new .new__text-information{
    padding: 0 30px 0;
}

#second-post-subsections .main_new .new__text-information .main_new__title{
    font-family: var(--source-sans-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    color: #F8F8F8;
    z-index: 2;
    top: 40%;
}

#second-post-subsections .main_new .new__text-information .main_new__title{
    font-family: var(--source-sans-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    color: #F8F8F8;
    z-index: 2;
    top: 45%;
}

#second-post-subsections .main_new .main_new__date,
#second-post-subsections .main_new .main_new__category{
    bottom: 30px;
    font-family: var(--source-sans-family);
    font-size: 12px;
    line-height: 150%;
    color: #F8F8F8;
    z-index: 2;
}

#second-post-subsections .main_new .main_new__category {
    left: 130px;
}

#second-post-subsections .main_new .main_new__description{
    font-family: var(--source-sans-family);
    font-size: 20px;
    line-height: 180%;
    color: #393B3E;
    padding: 0 20px;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='10' viewBox='0 0 8 10' fill='none'%3E%3Cpath d='M7.552 5.112L0.864 9.112V8.232L6.384 4.856L0.864 1.48V0.615999L7.552 4.632V5.112Z' fill='%23838383'/%3E%3C/svg%3E");;
}

.subsection_block{
    height: 347px !important;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
}

.subsection_image__block{
    /*width: 282px;*/
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

.subsection_new__block .subsection_image{
    height: 177.21px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: .8s;
    transform: scale(1.03);
}

.subsection_new__block:hover .subsection_image{
    transform: scale(1.15);
}

.subsection_new__block .subsection_new__title{
    font-family: var(--source-sans-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #083C6F;
    padding: 10px 20px;
}

.subsection_new__date,
.subsection_new__category{
    font-family: var(--source-sans-family);
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #0053A3;
    padding: 10px 20px;
}

.card_region__names{
    font-family: var(--source-sans-family);
    font-size: 14px;
    font-weight: 500;
    color: #0053A3;
}

.add__row{
    width: 100%;
}

.add__row img{
    width: 100%;
    object-fit: cover;
}

#third-post-subsection .new_date{
    right: 0;
}

#third-post-subsection .new__image_overflow{
    position: absolute;background: rgb(29,29,29);
    background: linear-gradient(0deg, rgba(29,29,29,0.9528186274509804) 0%, rgba(41,41,41,1) 4%, rgba(62,62,62,0.3841911764705882) 52%, rgba(0,212,255,0) 100%);
    z-index: 2;
    height: 100%;
    width: 100%;
    left: 0;
    border-radius: 5px;
}


#third-post-subsection .new__block{
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

#third-post-subsection .new__block.second-row{
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

#third-post-subsection .new__block > div{
    overflow: hidden;
    border-radius: 5px;

}

#third-post-subsection .new_block img{
    border-radius: 5px;
    overflow: hidden;
}

#third-post-subsection .new__block .new__image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .8s;
    transform: scale(1.08);
}

#third-post-subsection .new__block:hover .new__image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .8s;
    transform: scale(1.18);
}

#third-post-subsection .new__date,
#third-post-subsection .new__category{
    bottom: 30px;
    font-family: var(--source-sans-family);
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: #F8F8F8;
    z-index: 2;
}

#third-post-subsection .new__title{
    font-family: var(--source-sans-family);
    font-weight: 700;
    font-size: clamp(1.4375rem, 0.7150919732441472rem + 1.5050167224080269vw, 2rem);
    line-height: 150%;
    color: #F8F8F8;
}

#third-post-subsection .new__text-information{
    bottom: 20px;
    z-index: 3;
    padding: 0 20px;
}

#third-post-subsection .new__text-information span{
    margin-top: 50px;
}

#third-post-subsection .subsection_new{
    height: 290px;
    background: white;
    padding: 10px clamp(0.4375rem, -0.6059782608695652rem + 2.1739130434782608vw, 1.25rem);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
    display: inline-grid;
}

#third-post-subsection .subsection_new a{
    font-family: var(--source-sans-family);
    font-size: clamp(0.8125rem, 0.4914297658862876rem + 0.6688963210702341vw, 1.0625rem);
    line-height: clamp(1.25rem, 0.8486622073578596rem + 0.8361204013377926vw, 1.5625rem);
    display: flex;
    align-items: center;
    color: #393B3E;
}

#third-post-subsection .new_date,
#third-post-subsection .new_category {
    font-family: var(--source-sans-family);
    font-size:  clamp(0.5625rem, 0.0006270903010033857rem + 1.1705685618729096vw, 1rem);
    font-weight: 300;
    line-height: 25px;
    color: #868686;
}

#third-post-subsection .new_information{
    z-index: 3;
    padding: 20px;
}

#third-post-subsection .new_information .new_date,
#third-post-subsection .new_information .new_category{
    color: #ffffff;
}

#third-post-subsection .new_information .new_title{
    font-family: var(--source-sans-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #F8F8F8;
}

.view_all-news-btn{
    font-family: var(--source-sans-family);
    font-size: clamp(0.875rem, 0.8040489404641776rem + 0.30272452068617556vw, 1.0625rem);
    line-height: clamp(0.875rem, 1.1192748091603053rem + -0.5089058524173028vw, 1rem);
}

.search-form{
}

.search-form input{
    width: 100%;
    padding: 14px 0 14px 14px;
    transition: .3s;
    text-transform: uppercase;
    border: none;
}

.search-form input:focus{
    outline: none;
}

.search-icon-btn{
    font-size: 30px;
    right: 10px;
    top: 10px;
    background: none;
    border: none;
    border-radius: 0;
    background: white;
}

.add-col{
    height: 120px;
}

.add-col .add-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.add-col .add-left-arrow{
    left: clamp(6.875rem, 0.2127926421404691rem + 13.879598662207357vw, 12.0625rem);
    top: 0;
    transform: rotate(180deg);
    height: 100%;
}

.add-col .add-right-arrow{
    right: clamp(7.125rem, 0.30225752508361303rem + 14.214046822742473vw, 12.4375rem);
    top: 0;
    height: 100%;
}

.add-center-col{
    display: flex;
    align-items: center;
    background: white;
    z-index: 2;
}

.add-center-col p{
    font-family: var(--source-sans-family);
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #083C6F;
}

.pagination-block nav{
    display: block;
    position: inherit;
    background: none;
}

.pagination-block nav.fix{
    display: block;
    position: inherit;
    background: none;
}

.pagination-block nav.fix .pagination{
    justify-content: flex-end;
}

.pagination-block .page-item.disabled .page-link{
    position: relative;
    display: block;
    color: #0d6efd;
    text-decoration: none;
    background-color: #fff;
    border: none;
}

.pagination-block .page-item:first-child{
    margin-right: 4px;
}

.pagination-block .page-item:last-child{
    margin-left: 4px;
}

.pagination-block .page-item:last-child .page-link,
.pagination-block .page-item:first-child .page-link{
    border-radius: 5px;
    background-color: #083C6F;
}

.pagination-block .page-item .page-link{
    border-radius: 5px;
}

.pagination-block .page-item .page-link{
    font-family: var(--source-sans-family);
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--secindary-color);

    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 35px !important;
    height: 35px !important;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
    outline: none;
}

.pagination-block .page-item.active .page-link{
    background-color: #ffffff !important;
    border: none;
}

.pagination-block .page-item .page-link i{
    color: white;
}

#content .ask-question-btn{
    background: #129830;
    border-radius: 15px;
    font-family: var(--source-sans-family);
    font-weight: 600;
    font-size: clamp(1rem, 0.35785953177257523rem + 1.3377926421404682vw, 1.5rem);
    line-height: 150.6%;
    align-items: flex-start;
    justify-content: space-between;
    color: #FFFFFF;
    padding: 11px 28px;
    transition: .3s;
}

#content .ask-question-btn:hover{
    background: #11822a;
    color: #ffffff;
}

#content .form-lbl{
    font-family: var(--source-sans-family);
    font-size: 20px;
    line-height: 150.6%;
    color: #083C6F;
}

#content .form-lbl{
    font-family: var(--source-sans-family);
    font-size: 20px;
    line-height: 150.6%;
    color: #083C6F;
}

#content .form-input{
    background: #FFFFFF;
    border-radius: 15px;
    padding: 15px 28px;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: .3s;

    font-family: var(--source-sans-family);
    font-size: clamp(0.9375rem, 0.6966973244147157rem + 0.5016722408026756vw, 1.125rem);
    display: flex;
    align-items: center;
    color: rgba(8, 60, 111, 0.8);
}

#content .form-input:focus{
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.18);
    outline: none;
}

#content .calendar-icon{
    position: absolute;
    bottom: 17px;
    right: 28px;
    font-size: clamp(1rem, 0.35785953177257523rem + 1.3377926421404682vw, 1.5rem);
    color: rgba(8, 60, 111, 0.8);
}

#content .submit-button,
#content .ask-a-questions-submit-btn{
    background: #083C6F;
    border: 0.5px solid #000000;
    border-radius: 15px;
    width: 100%;
    padding: 10px;
    font-family: var(--source-sans-family);
    font-weight: 600;
    font-size: clamp(1rem, 0.35785953177257523rem + 1.3377926421404682vw, 1.5rem);
    line-height: 150.6%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    transition: .3s;
}

#content .ask-a-questions-submit-btn{
    width: 187px;
}

#content .submit-button:hover,
#content .ask-a-questions-submit-btn:hover{
    background: #072b50;
}

#content .header-text{
    border: none;
}

#content .content-header{
    border-bottom: 1px solid #083C6F;
}

#content .appeal_block{
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 25px 30px;
}

#content .appeal_block .appeal-title{
    font-family: var(--source-sans-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #083C6F;
}

#content .appeal_block .appeal-date,
#content .appeal_block .appeal-views,
#content .appeal_block .appeal-category{
    font-family: var(--source-sans-family);
    font-size: 15px;
    line-height: 15px;
}

#content .appeal_block .appeal-category{
    color: #0053A3;
}

#content .appeal_block .appeal-body{
    word-break: break-word;
    font-family: var(--source-sans-family);
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #083C6F;
}

#content .appeal_block .appeal-body{
    font-family: var(--source-sans-family);
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #083C6F;
}

#content .accordion-button{
    width: inherit;
    padding: 0;
    background: none;
    box-shadow: none;
    font-family: var(--source-sans-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #129830;
}

#content .accordion-button{
    width: inherit;
}

#content .appeal-answer{
    color: #129830 !important;
}

#content .appeal-answered-block{
    margin-left: 130px;
}

#content .ask-a-questions .content-header{
    border-bottom: none;
}

#content .ask-a-questions .header-text{
    padding: 0;
}

#content .ask-a-questions .secondary-text{
    font-family: var(--source-sans-family);
    font-weight: 300;
    font-size: clamp(0.875rem, 0.7803985872855701rem + 0.4036326942482341vw, 1.125rem);
    line-height: 20px;
    color: #393B3E;
}

#content .ask-question-input{
    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: .3s;
    font-family: var(--source-sans-family);
    font-size: clamp(1rem, 0.35785953177257523rem + 1.3377926421404682vw, 1.5rem);
    line-height: 150.6%;
    display: flex;
    align-items: center;
    color: #083C6F;
    padding: 7px 34px;
    width: 100%;
}

#content .ask-question-input::placeholder{
    color: #083C6F;
}

#content .ask-question-input:focus{
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.18);
}

#content .ask-a-questions-category{
    font-weight: 600;
    font-size: 24px;
}

.archive-form .archive-select{
    border: none;
}

.archive-form .ask-question-btn{
    background: #083C6F;
    border-radius: 9px;
    font-family: var(--source-sans-family);
    font-weight: 600;
    font-size: 19px;
    line-height: 150.6%;
    align-items: flex-start;
    justify-content: space-between;
    color: #FFFFFF;
    padding: 6px 21px;
    transition: .3s;
}

.archive-form .ask-question-btn:hover{
    background: #072b50;;
    color: #ffffff;
}

#content .ask-question-file-input{
    font-weight: 600;
    font-size: clamp(1rem, 0.35785953177257523rem + 1.3377926421404682vw, 1.5rem);
    cursor: pointer;
    background: none;
    padding-left: 0;
}

.ask-question-file-input::-webkit-file-upload-button {
    background: white;
    padding: 7px 40px;
    border-radius: 5px;
}

.ask-question-select{
    padding: 11px 28px !important;
}

.social-list a{
    transition: .3s;
}

.social-list a:hover{
    color: var(--heading-color) !important;
}

.print-button{
    background: none;
    border: none;
    transition: .5s;
    font-size: clamp(0.625rem, 0.4830978809283552rem + 0.6054490413723511vw, 1rem);
}

.print-button:hover{
    background: #e2e2e2;
}

.google-iframe iframe{
    width: 100%;
    height: 100%;
}

.right-sidebar li{
    margin-bottom: 12px;
}

.right-sidebar li a{
    font-size: 18px;
    font-family: var(--source-sans-family);
    color: var(--secindary-color);
    transition: .3s;
}

.right-sidebar li a:hover{
    font-size: 18px;
    font-family: var(--source-sans-family);
    color: var(--heading-color);
}

.social-media-item{
    font-size: 30px;
}

#gallery{
    overflow: hidden;
    border-radius: 3px;
}

#gallery .carousel-inner{
    height: clamp(24.9375rem, 12.817098662207357rem + 25.25083612040134vw, 34.375rem);
}

#gallery .carousel-inner img{
    object-fit: cover;
    height: clamp(24.9375rem, 12.817098662207357rem + 25.25083612040134vw, 34.375rem);
}

#gallery .gallery-thumbnail{
    height: 50px;
    width: 83px;
    object-fit: cover;
}

#gallery .carousel-indicators [data-bs-target]{
    width: auto;
}

#gallery .carousel-indicators{
    bottom: 29px;
}

.gallery-download-btn{
    background: #083C6F;
    border: 0.5px solid #000000;
    border-radius: 7px;
    padding: 6px 15px;

    font-family: var(--source-sans-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150.6%;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
    transition: .3s;
}

.gallery-download-btn:hover{
    color: #FFFFFF;
    background: #072b50;
}

.g-info-text{
    font-size: 16px;
}

@media screen and (max-width: 767px) {

    .g-info-text{
        font-size: clamp(0.75rem, 0.5114503816793893rem + 1.0178117048346056vw, 1rem);
    }

    #gallery .gallery-thumbnail{
        height: clamp(2.5rem, 1.9036259541984732rem + 2.544529262086514vw, 3.125rem);
        width: clamp(4.125rem, 3.1111641221374047rem + 4.325699745547074vw, 5.1875rem);
    }

    #gallery .carousel-indicators{
        bottom: clamp(1.3125rem, 0.8354007633587786rem + 2.035623409669211vw, 1.8125rem);
    }

    .gallery-download-btn{
        background: #083C6F;
        border: 0.5px solid #000000;
        border-radius: 7px;
        padding: 6px 15px;

        font-family: var(--source-sans-family);
        font-weight: 600;
        font-size: clamp(0.75rem, 0.5114503816793893rem + 1.0178117048346056vw, 1rem);
        line-height: 150.6%;

        display: flex;
        align-items: center;
        text-align: center;

        color: #FFFFFF;
        transition: .3s;
    }

    #gallery .carousel-inner{
        height: clamp(14.3125rem, 4.174141221374045rem + 43.25699745547074vw, 24.9375rem);
    }

    #gallery .carousel-inner img{
        height: clamp(14.3125rem, 4.174141221374045rem + 43.25699745547074vw, 24.9375rem);
    }

    body:not(.justwidget-iframe--content) #widget-root{
        height: auto !important;
    }

    #content .appeal-answered-block {
        margin-left: clamp(0rem, -7.752862595419848rem + 33.078880407124686vw, 8.125rem);
    }

    #content .ask-a-questions-submit-btn{
        width: clamp(7.625rem, 3.748568702290076rem + 16.539440203562343vw, 11.6875rem);
        padding: clamp(0.3125rem, 0.014312977099236623rem + 1.272264631043257vw, 0.625rem);
        border-radius: clamp(0.5625rem, 0.20467557251908397rem + 1.5267175572519085vw, 0.9375rem);
    }

    #content .appeal_block .appeal-body {
        font-family: var(--source-sans-family);
        font-size: clamp(0.75rem, 0.6307251908396947rem + 0.5089058524173028vw, 0.875rem);
        line-height: clamp(1.1875rem, 0.829675572519084rem + 1.5267175572519085vw, 1.5625rem);
        letter-spacing: 0.03em;
        color: #083C6F;
    }

    .add-col .add-left-arrow{
        left: 57px;
        top: 0;
        transform: rotate(180deg);
        height: 100%;
    }

    .add-col .add-right-arrow{
        right: 57px;
        top: 0;
        height: 100%;
    }

    .add-center-col p{
        font-family: var(--source-sans-family);
        font-size: clamp(0.875rem, 0.27862595419847325rem + 2.544529262086514vw, 1.5rem);
        line-height: clamp(1.125rem, 0.40935114503816794rem + 3.053435114503817vw, 1.875rem);
        text-align: center;
        color: #083C6F;
    }

    .apexcharts-legend::-webkit-scrollbar{
        height: 3px;
    }

    .apexcharts-legend::-webkit-scrollbar-track{
        box-shadow: inset 0 0 6px rgba(243, 243, 243, 0.3) !important;
    }

    .apexcharts-legend::-webkit-scrollbar-thumb {
        background-color: #efebeb !important;
    }

    .apex-chart-info-text{
        margin-left: 10px;
        margin-top: 5px;
        font-size: clamp(0.625rem, 1.1135496183206106rem + -1.0178117048346056vw, 0.875rem);
        line-height: clamp(0.6875rem, -0.11517558528428085rem + 1.6722408026755853vw, 1.3125rem);;
    }

    #economic-map .row > .map{
        order: 2;
    }
    #economic-map .row > .static{
        order: 1;
    }

    .appeals{
        order: 2;
    }

    .action-block{
        order: 1;
    }

    .hc-nav-trigger{
        top: 16px;
        z-index: 9980;
        width: 30px;
        min-height: 36px;
    }

    .hc-offcanvas-nav .nav-container{
        max-width: 100%;
    }

    .brand.fix .hc-nav-trigger{
        min-height: 22px;
    }

    .banner{
        display: none;
    }

    .brand.fix{
        z-index: 4;
        height: 68px;
        position: fixed;
        width: 100%;
    }

    main{
        padding-top: 0;
    }

    main.fix{
        padding-top: 68px;
    }

    .brand .brand-name {
        font-family: var(--main-font-family);
        font-weight: var(--standart-font-weight);
        font-size: clamp(0.875rem, 0.3979007633587786rem + 2.035623409669211vw, 1.375rem);
        line-height: clamp(1.125rem, 0.5286259541984732rem + 2.544529262086514vw, 1.75rem);
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: white;
    }

    #carouseIndicators{
        height: clamp(13.125rem, 4.775763358778626rem + 35.6234096692112vw, 21.875rem);
    }

    #main-carousel .carousel-inner{
        height: clamp(13.125rem, 4.775763358778626rem + 35.6234096692112vw, 21.875rem);
    }

    #secondary-carousel .owl-carousel .item{
        padding: 10px 5px 0;
    }

    .main-new__block{
        display: none;
    }

    .main-new__mobile_block{
        display: block;
    }

    #news-section .new_block__description, .new_block__title{
        font-size: clamp(0.8125rem, 0.9346374045801527rem + -0.2544529262086514vw, 0.875rem);
        line-height: clamp(0.875rem, 1.1192748091603053rem + -0.5089058524173028vw, 1rem);
        word-break: break-all;
        padding-right: 10px;
    }

    .news_block .new_block .new_block__image{
        object-fit: cover;
        width: clamp(5.0625rem, 2.7366412213740454rem + 9.923664122137406vw, 7.5rem);
        height: clamp(5rem, 2.614503816793893rem + 10.178117048346056vw, 7.5rem);
        border-radius: 5px 0 0 5px;
    }

    .news_block .new_block{
        /*border-radius: clamp(0.141509375rem, 0.5977963979007634rem + -0.9505979643765905vw, 0.375rem) !important;*/
        border-radius: 5px !important;
        padding: 0;
    }

    .new_block__category, .new_block__date{
        padding-bottom: 5px;
        font-size: clamp(0.5rem, 0.9885496183206107rem + -1.0178117048346056vw, 0.75rem) !important;
    }
    .new_block__date{
        padding-top: 5px;
    }

    /* MERGED styles */

    .footer_container a{
        font-size: clamp(0.375rem, 0.25572519083969464rem + 0.5089058524173028vw, 0.5rem);
    }

    #post-page .mobile-image{
        width: 100% !important;
        object-fit: cover;
    }
    #post-page .main-post-header{
        font-size: clamp(1rem, 0.642175572519084rem + 1.5267175572519085vw, 1.375rem);
    }

    #post-page .content-tab-row .nav-tabs .nav-item .nav-link{
        font-size: 14px;
        line-height: clamp(0.875rem, 0.040076335877862634rem + 3.5623409669211195vw, 1.75rem);
    }

    #post-page .post-title{
        font-size: clamp(1.0625rem, 1.0028625954198473rem + 0.2544529262086514vw, 1.125rem);
    }

    #main-carousel .carousel-caption{
        z-index: 3;
        top: 25%;
        width: clamp(13.5625rem, -5.640744274809162rem + 81.93384223918576vw, 33.6875rem);
        left: 12%;
    }

    #main-carousel .carousel-caption a{
        font-size: clamp(0.9375rem, -0.2552480916030535rem + 5.089058524173028vw, 2.1875rem);
        line-height: clamp(1.25rem, -0.18129770992366412rem + 6.106870229007634vw, 2.75rem);
    }

    #economic-map .kyrgyz-republic-map{
        height: clamp(15.0625rem, 12.438454198473282rem + 11.195928753180661vw, 17.8125rem);
        position: relative;
    }

    .apexcharts-legend{
        width: clamp(5.9375rem, 13.876431297709924rem + -16.539440203562343vw, 10rem) !important;
    }

    .white-link-block-icon{
        font-size: clamp(3rem, 2.642175572519084rem + 1.5267175572519085vw, 3.375rem);
    }

    #third-post-subsection .new__text-information span{
        margin-top: 0;
    }

    #third-post-subsection .new__title{
        font-size: clamp(0.8125rem, 0.21612595419847325rem + 2.544529262086514vw, 1.4375rem);
    }

    #third-post-subsection .subsection_new{
        height: clamp(13.5rem, 9.981393129770993rem + 15.012722646310433vw, 17.1875rem);
        padding: clamp(0.4375rem, 1.4145992366412214rem + -2.035623409669211vw, 0.9375rem);
    }

    #third-post-subsection .subsection_new a{
        font-size: clamp(0.8125rem, 0.9346374045801527rem + -0.2544529262086514vw, 0.875rem);
    }

    #third-post-subsection .new_date, #third-post-subsection .new_category{
        align-items: baseline;
        font-size: clamp(0.5625rem, 1.0510496183206106rem + -1.0178117048346056vw, 0.8125rem);
    }

    .breadcrumb li{
        font-size: clamp(0.875rem, 0.7538461538461538rem + 0.5128205128205128vw, 1rem);
        font-family: var(--source-sans-family);
    }

    #post-page .back-to-list-btn{
        font-size: clamp(0.875rem, 0.7538461538461538rem + 0.5128205128205128vw, 1rem);
    }

    .show-post-block{
        background: #fbfbfb;
        padding: clamp(0.5625rem, -0.0935114503816794rem + 2.7989821882951653vw, 1.25rem);
        overflow: hidden;
        border-radius: 5px;
    }

    .post-show-content{
        padding: clamp(0rem, -0.726923076923077rem + 3.076923076923077vw, 0.75rem);;
    }

    .post-content p{
        font-size: 14px;
        font-family: var(--source-sans-family);
    }

    #pages .page_description__row p{
        font-size: clamp(0.875rem, 0.6364503816793893rem + 1.0178117048346056vw, 1.125rem);
        line-height: clamp(1.4375rem, 1.3182251908396947rem + 0.5089058524173028vw, 1.5625rem);
        padding-left: clamp(0.75rem, -2.708969465648855rem + 14.758269720101783vw, 4.375rem);
    }

    #post-page .post_information .header-info-text{
        font-size: clamp(0.8125rem, 0.633587786259542rem + 0.7633587786259542vw, 1rem);
    }

    #post-page .post_information .header-info-text + h6{
        font-size: clamp(0.8125rem, 0.633587786259542rem + 0.7633587786259542vw, 1rem);
    }

    #post-page .document-image{
        height: clamp(1.5625rem, 0.011927480916030353rem + 6.615776081424937vw, 3.1875rem);
        width: clamp(1.25rem, 0.057251908396946494rem + 5.089058524173028vw, 2.5rem);
    }

    #post-page .document-text{
        font-size: clamp(0.6875rem, 0.3893129770992366rem + 1.272264631043257vw, 1rem);
    }

    #post-page .post_document_name{
        font-size: clamp(0.6875rem, 0.4489503816793893rem + 1.0178117048346056vw, 0.9375rem);
    }

    #post-page .post_document__download-link{
        font-family: var(--source-sans-family);
        font-weight: 600;
        font-size: clamp(0.75rem, 0.39217557251908397rem + 1.5267175572519085vw, 1.125rem);
        border-radius: 7px;
        color: white;
        padding: 6px 18px;
        transition: .3s;
        border: 0.5px solid #000000;
    }

    #floatingmes {
        font-size: clamp(0.875rem, 0.6364503816793893rem + 1.0178117048346056vw, 1.125rem);
    }

    .social-media-item{
        font-size: clamp(1.1875rem, 0.5314885496183206rem + 2.7989821882951653vw, 1.875rem);
    }

}
